@model WebAppGrid.Models.SoccerClub

@Styles.Render("~/Content/css")
<link href="~/Scripts/jquery-ui-1.13.2/jquery-ui.css" rel="stylesheet" />
<link href="~/Scripts/jquery-ui-multiselect-widget/css/jquery.multiselect.css" rel="stylesheet" />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SoccerClub</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Players, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Players, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Players, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@section scripts{
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery-ui-1.13.2/jquery-ui.js"></script>
    <script src="~/Scripts/jquery-ui-multiselect-widget/src/jquery.multiselect.js"></script>

    @*<script>
            var model = @Html.Raw(Json.Encode(Model));
        </script>
        <script src="~/Scripts/Home/pageIndex.js"></script>*@
}

